@import './message.css';
@import './badaboom.css';
@import './cells.css';
@import './footer.css';
@import './score.css';
@import './header.css';

:root {
  --level: 4;
  --animation-duration: 200ms;

  --color-borders-base: 0, 0, 0;
  --wide-borders: 0.3rem;

  --cell-size: 4rem;
  --cell-color-border: rgb(0, 0, 0);
  --cell-color-bg: rgba(187, 255, 0, 0.5);
  --cell-color-text: rgb(255, 255, 255);

  --records-color-pad: rgba(93, 32, 137, 0.6);
  --records-color-text-active: rgb(255, 255, 255);
  --records-color-text: rgb(0, 0, 0);

  --gap: calc(var(--cell-size)/5);
  --max-width-container: clamp(300px, 90%, 1400px);

  --mobile-bg-0: url("../assets/bg/0/mobile.jpg");
  --desktop-bg-0: url("../assets/bg/0/desktop.jpg");
  --mobile-bg-1: url("../assets/bg/1/mobile.jpg");
  --desktop-bg-1: url("../assets/bg/1/desktop.jpg");

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100dvh;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;

  overflow: hidden;
  background-image: var(--mobile-bg-1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  --spark-bg-points-2: rgba(0, 0, 0, 0.6);
  --spark-color-points-2: rgba(255, 255, 255);
  --spark-bg-points-4: rgba(255, 200, 190, 0.7);
  --spark-color-points-4: rgba(0, 0, 0);
  --spark-bg-points-8: rgba(255, 130, 90, 0.7);
  --spark-color-points-8: rgba(0, 0, 0);
  --spark-bg-points-16: rgba(250, 210, 170, 0.7);
  --spark-color-points-16: rgba(0, 0, 0);
  --spark-bg-points-32: rgba(240, 190, 230, 0.7);
  --spark-color-points-32: rgba(0, 0, 0);
  --spark-bg-points-64: rgba(120, 120, 120, 0.7);
  --spark-color-points-64: rgb(246, 255, 0);
  --spark-bg-points-128: rgba(209, 100, 40, 0.7);
  --spark-color-points-128: rgba(255, 255, 255);
  --spark-bg-points-256: rgba(60, 60, 100, 0.7);
  --spark-color-points-256: rgb(231, 255, 126);
  --spark-bg-points-512: rgba(110, 75, 50, 0.7);
  --spark-color-points-512: rgb(255, 187, 187);
  --spark-bg-points-1024: rgba(255, 160, 60, 0.7);
  --spark-color-points-1024: rgba(0, 0, 0);

  --color-dialog-text: rgb(255, 255, 255);
  --color-bg: 194, 162, 123;
  --color-text: rgb(0, 0, 0);
  --color-text-hover: rgb(255, 253, 232);
  --color-text-hint-checked: rgb(255, 255, 255);
  --color-text-hint: rgb(200, 200, 200);

  --score-color-right: rgb(240, 220, 170);
  --score-color-left-1: rgb(180, 160, 110);
  --score-color-left-2: rgb(210, 190, 140);

  --score-color-myscore: rgba(239, 219, 169, 0.25);
  --score-color-lastresult: rgba(220, 145, 52, 0.5);
  --score-nickname-color: rgb(193, 127, 43);

  --thumb-logo: url("../assets/stones/1/4.png");
  --rss-logo: url("../assets/icons/rss-logo-1.png");
  --rss-logo-hover: url("../assets/icons/rss-logo-hover-1.png");

  &[level="0"] {
    --spark-bg-points-2: rgba(0, 0, 0, 0.6);
    --spark-color-points-2: rgba(255, 255, 255);
    --spark-bg-points-4: rgba(200, 140, 220, 0.7);
    --spark-color-points-4: rgba(0, 0, 0);
    --spark-bg-points-8: rgba(190, 110, 20, 0.7);
    --spark-color-points-8: rgba(0, 0, 0);
    --spark-bg-points-16: rgba(100, 30, 0, 0.7);
    --spark-color-points-16: rgba(255, 255, 255);
    --spark-bg-points-32: rgba(0, 160, 200, 0.7);
    --spark-color-points-32: rgba(0, 0, 255);
    --spark-bg-points-64: rgba(160, 220, 30, 0.7);
    --spark-color-points-64: rgba(0, 0, 0);
    --spark-bg-points-128: rgba(240, 140, 210, 0.7);
    --spark-color-points-128: rgba(0, 0, 0);
    --spark-bg-points-256: rgba(250, 190, 40, 0.7);
    --spark-color-points-256: rgba(0, 0, 0);
    --spark-bg-points-512: rgba(200, 50, 80, 0.7);
    --spark-color-points-512: rgba(255, 255, 255);
    --spark-bg-points-1024: rgba(90, 220, 230, 0.7);
    --spark-color-points-1024: rgba(0, 0, 0);

    --color-bg: 51, 66, 87;
    --color-text: rgb(255, 255, 255);
    --color-text-hover: rgb(255, 188, 199);

    --score-color-right: rgb(160, 170, 200);
    --score-color-left-1: rgb(100, 110, 140);
    --score-color-left-2: rgb(130, 140, 170);

    --score-color-myscore: rgba(211, 191, 255, 0.25);
    --score-color-lastresult: rgba(211, 191, 255, 0.7);
    --score-nickname-color: rgb(68, 56, 102);

    --thumb-logo: url("../assets/stones/0/1024.png");
    --rss-logo: url("../assets/icons/rss-logo-0.png");
    --rss-logo-hover: url("../assets/icons/rss-logo-hover-0.png");

    background-image: var(--mobile-bg-0);
  }
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-white-blur {
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(2px);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;


  max-width: var(--max-width-container);
  margin: 0 auto;
  padding: 0.25rem 1rem 0.25rem;
}

.game-container {
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  width: var(--max-width-container);
  padding: 0.5rem 1rem 1rem;
  overflow: hidden;
  gap: 0.5rem;
}

.nickname {
  display: flex;
  align-items: center;

  & #btn-change-name {
    width: 100%;
    padding: 0.3rem 1rem 0.3rem 2.5rem;

    border: none;
    border-radius: 0.5rem;
    background-image: url("../assets/icons/change-name.png");
    background-position: 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.3rem;
    background-color: white;

    font-size: 1rem;
    font-weight: 700;
    color: var(--score-nickname-color);

    overflow: hidden;
    text-overflow: ellipsis;
    transition-duration: var(--animation-duration);

    &:hover {
      cursor: pointer;
      background-color: var(--score-color-myscore);
    }

    &:active,
    :selection,
    :focus,
    :focus-visible {
      border: none !important;
      outline: none !important;
    }
  }
}

.border {
  border-radius: 0.5rem;
  border-top: var(--wide-borders) solid rgba(var(--color-borders-base), 0.3);
  border-right: var(--wide-borders) solid rgb(var(--color-borders-base));
  border-bottom: var(--wide-borders) solid rgb(var(--color-borders-base));
  border-left: var(--wide-borders) solid rgba(var(--color-borders-base), 0.3);

  &:focus-visible,
  :focus {
    border-radius: 0.5rem;
    border-top: var(--wide-borders) solid rgba(var(--color-borders-base), 0.3);
    border-right: var(--wide-borders) solid rgb(var(--color-borders-base));
    border-bottom: var(--wide-borders) solid rgb(var(--color-borders-base));
    border-left: var(--wide-borders) solid rgba(var(--color-borders-base), 0.3);
    outline: none;
  }
}

#range-level {
  width: 100%;
}

.desk-records-container {
  display: flex;
  flex: 1 1 10rem;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  gap: 0.5rem;
  overflow: hidden;
}

.desk-container {
  flex-shrink: 0;
  position: relative;
  width: calc(4 * var(--cell-size) + calc(var(--cell-size) * 0.15));
  height: calc(4 * var(--cell-size) + calc(var(--cell-size) * 0.15));
}

.__align_left {
  text-align: left;
}

.__align_right {
  text-align: right;
}

td,
th {
  padding: 0.3rem 0.5rem;
}

#test {
  & span {
    padding: 1rem;
  }
}

@media (min-width: 769px) {
  :root {
    --cell-size: 5rem;
  }
}

@media (min-width: 930px) {
  :root {
    --cell-size: 7rem;
  }

  body {
    background-image: var(--desktop-bg-1);

    &[level="0"] {
      background-image: var(--desktop-bg-0);
    }
  }

  .desk-records-container {
    flex-direction: row;
    align-items: center;
  }

  .records {
    height: calc(4 * var(--cell-size) + calc(var(--cell-size) * 0.15));
  }
}

@media (min-width: 1200px) {
  :root {
    --cell-size: 8rem;
  }

  .cell {
    & .cell-core {
      font-size: 1.3rem;
      padding-right: 1rem;
    }
  }
}