@import './message.css';
@import './badaboom.css';
@import './cells.css';
@import './footer.css';
@import './score.css';
@import './header.css';

:root {
  --level: 4;
  --animation-duration: 200ms;

  --color-borders-base: 0, 0, 0;
  --wide-borders: 0.3rem;

  --cell-size: 4rem;
  --cell-color-border: rgb(0, 0, 0);
  --cell-color-bg: rgba(187, 255, 0, 0.5);
  --cell-color-text: rgb(255, 255, 255);

  --records-color-pad: rgba(93, 32, 137, 0.6);
  --records-color-text-active: rgb(255, 255, 255);
  --records-color-text: rgb(0, 0, 0);

  --gap: calc(var(--cell-size)/5);
  --max-width-container: clamp(300px, 90%, 1400px);

  --mobile-bg-0: url("../assets/bg/0/mobile.jpg");
  --desktop-bg-0: url("../assets/bg/0/desktop.jpg");
  --mobile-bg-1: url("../assets/bg/1/mobile.jpg");
  --desktop-bg-1: url("../assets/bg/1/desktop.jpg");

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100dvh;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;

  overflow: hidden;
  background-image: var(--mobile-bg-1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  --color-bg: 194, 162, 123;
  --color-text: rgb(0, 0, 0);
  --color-text-hover: rgb(255, 253, 232);

  --score-color-myscore: rgba(239, 219, 169, 0.25);
  --score-color-lastresult: rgba(220, 145, 52, 0.5);

  --rss-logo: url("../assets/icons/rss-logo-1.png");
  --rss-logo-hover: url("../assets/icons/rss-logo-hover-1.png");

  &[level="0"] {
    --color-bg: 51, 66, 87;
    --color-text: rgb(255, 255, 255);
    --color-text-hover: rgb(255, 188, 199);

    --score-color-myscore: rgba(211, 191, 255, 0.25);
    --score-color-lastresult: rgba(211, 191, 255, 0.7);

    --rss-logo: url("../assets/icons/rss-logo-0.png");
    --rss-logo-hover: url("../assets/icons/rss-logo-hover-0.png");

    background-image: var(--mobile-bg-0);
  }
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-white-blur {
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(2px);
}

.game-container {
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  width: var(--max-width-container);
  padding: 0.5rem 1rem 1rem;
  overflow: hidden;
  gap: 0.5rem;
}

.nickname {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--cell-color-border);

  overflow: hidden;
  text-overflow: ellipsis;
}

.border {
  border-radius: 0.5rem;
  border-top: var(--wide-borders) solid rgba(var(--color-borders-base), 0.3);
  border-right: var(--wide-borders) solid rgb(var(--color-borders-base));
  border-bottom: var(--wide-borders) solid rgb(var(--color-borders-base));
  border-left: var(--wide-borders) solid rgba(var(--color-borders-base), 0.3);
}

#range-level {
  width: 100%;
}

.desk-records-container {
  display: flex;
  flex: 1 1 10rem;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  gap: 0.5rem;
  overflow: hidden;
}

.desk-container {
  flex-shrink: 0;
  position: relative;
  width: calc(4 * var(--cell-size) + calc(var(--cell-size) * 0.15));
  height: calc(4 * var(--cell-size) + calc(var(--cell-size) * 0.15));
}

.records {
  flex: 1 1 auto;
  width: 100%;
  padding: 0.5rem;

  overflow-y: scroll;

  & table {
    width: 100%;
    table-layout: fixed;
  }
}

.__align_left {
  text-align: left;
}

.__align_right {
  text-align: right;
}

td,
th {
  padding: 0.3rem 0.5rem;
}

#test {
  & span {
    padding: 1rem;
  }
}

@media (min-width: 769px) {
  :root {
    --cell-size: 5rem;
  }
}

@media (min-width: 930px) {
  :root {
    --cell-size: 7rem;
  }

  body {
    background-image: var(--desktop-bg-1);

    &[level="0"] {
      background-image: var(--desktop-bg-0);
    }
  }

  .desk-records-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .records {
    height: calc(4 * var(--cell-size) + calc(var(--cell-size) * 0.15));
  }
}

@media (min-width: 1200px) {
  :root {
    --cell-size: 8rem;
  }
}