main {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  padding-top: var(--gap);

  width: 100%;
  flex: 1 1 auto;

  &::-webkit-scrollbar {
    width: 0.2rem;
  }

  &::-webkit-scrollbar-button {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-line);
  }

  &::-webkit-scrollbar-track-piece {
    background-color: color-mix(in srgb, var(--color-line) 50%, var(--color-bg) 50%);
  }
}

.card-container {
  gap: var(--gap);
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto;
  justify-content: stretch;
  justify-items: center;
  grid-template-columns: repeat(var(--count-columns), 1fr);

  width: 100%;
  margin-right: 1rem;
  padding-bottom: 5rem;
  overflow: hidden;
}

.card {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: auto;
  width: var(--card-size);

  color: var(--color-text);
  font-size: 0.8rem;

  overflow: hidden;
  border-radius: 0.25rem;
  border-top: 2px solid color-mix(in srgb, var(--color-text) 70%, var(--color-bg) 30%);
  border-left: 2px solid color-mix(in srgb, var(--color-text) 70%, var(--color-bg) 30%);
  border-right: 2px solid color-mix(in srgb, var(--color-text) 30%, var(--color-bg) 70%);
  border-bottom: 2px solid color-mix(in srgb, var(--color-text) 30%, var(--color-bg) 70%);

  & img {
    width: 100%;
    height: 100%;

    object-fit: contain;
  }

  &:hover {
    cursor: pointer;
    filter: brightness(1.1);
  }
}

.description {
  width: 100%;
  padding: 0.5rem;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 1.5rem;
  top: 0.5rem;
  right: 0.5rem;
  position: absolute;
  padding: 0.3rem 0.4rem;

  text-align: right;
  border-radius: 0.5rem;
  background-color: color-mix(in srgb,
      var(--color-text) 30%,
      var(--color-bg) 70%);
  box-shadow: 0 0 0.5rem var(--color-bg);
  opacity: 0.7;

  & span {
    padding-right: 0.5rem;
  }
}

.end-line {
  display: none;
  flex-wrap: nowrap;
  width: 100%;
  height: 1rem;
}

.end-line__on {
  display: flex;
}

.end-line-left {
  display: inline-block;
  width: 50%;
  height: 100%;
  background: linear-gradient(270deg,
      color-mix(in srgb, var(--color-text) 80%, var(--color-bg) 20%),
      var(--color-bg));
}

.end-line-right {
  display: inline-block;
  width: 50%;
  height: 100%;
  background: linear-gradient(90deg,
      color-mix(in srgb, var(--color-text) 80%, var(--color-bg) 20%),
      var(--color-bg));
}