@font-face {
  font-family: Forum;
  src: url("../fonts/Forum/Forum-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter_Tight/InterTight-VariableFont_wght.ttf");
}

:root {
  --color-dark: #0C0C0E;
  --color-black: #000000;
  --color-sand: #BB945F;
  --color-white: #FFFFFF;
  --color-grey: #8E8E8E;

  --font-common: Inter;
  --font-title: Forum;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition-duration: 200ms;
  scroll-behavior: smooth;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;

  background: var(--color-dark);
}

section {
  padding: 20px 20px 0;
}

.container {
  width: 1440px;
  margin: 0 auto;

  /* это для удобства отладки, не забыть удалить */
  padding-bottom: 2000px;

  background-color: #fbfbea;
}

.header-title {
  margin: 0;

  font-family: var(--font-title);
  color: var(--color-white);
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.6px;
}

.wrapper-nav-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 40px;
}

.header-nav-ul {
  display: flex;
  justify-content: space-around;

  margin: 0;
  gap: 30px;

  list-style: none;

  & li {
    height: 50px;

    & :hover {
      color: var(--color-sand);
    }

    & a {
      display: inline-block;
      height: 100%;
      font-family: var(--font-common);
      color: var(--color-white);
      font-size: 20px;
      letter-spacing: 0.9px;
      text-decoration: none;
    }

  }
}

.profile {
  & a {
    display: inline-block;
    height: 100%;

    & svg {
      fill: var(--color-white);
      vertical-align: middle;

    }
  }
}

.profile>a:hover svg {
  fill: var(--color-sand);
}

.welcome {
  height: 600px;

  background-image: url("../assets/jpg/Welcome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-wrapper {
  width: 600px;
  height: 440px;
  padding-top: 220px;
}

.welcome-title {
  padding: 35px 40px;
  background-color: var(--color-black);

  & p {
    color: var(--color-white);
    font-family: var(--font-title);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.title {
  display: block;
  position: relative;

  margin: 0 auto 61px;
  padding-left: 2px;

  & ::after {
    display: block;
    content: "";
    position: absolute;

    width: 50px;
    height: 1px;
    bottom: -21px;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--color-dark);
  }

  & h2 {
    color: var(--color-dark);
    font-family: var(--font-title);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
  }
}

.subtitle {
  margin-bottom: 20px;

  & h3 {
    color: var(--color-black);
    text-align: center;
    font-family: var(--font-common);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.95px;
  }
}

.images-items {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}

.pagination-wrapper {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.pagination-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  margin-bottom: 35px;
}

.pagination-btn-wrapper:hover {
  cursor: pointer;
}

.pagination-btn {
  width: 16px;
  height: 16px;

  border-radius: 50%;
  background-color: var(--color-dark);
}

.pagination-btn__active {
  background-color: var(--color-sand);
}

.favorites-subtitle {
  color: var(--color-black);
  font-family: var(--font-common);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.26px;

  padding-bottom: 40px;
}

.seasons-wrapper {
  display: flex;
  gap: 90px;
}

.seasons-radio-wrapper {
  display: flex;
  margin-bottom: 40px;

  & input {
    display: none;

    &:checked+label::before {
      background: url("../assets/icon/radio_selected.svg");
    }
  }

  & label {
    position: relative;
    padding-left: 36px;

    cursor: pointer;
    color: var(--color-black);
    font-family: var(--font-common);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;

    &::before {
      content: "";
      width: 17px;
      height: 17px;
      position: absolute;
      left: 0;
      bottom: 1px;

      background: url("../assets/icon/radio_not_selected.svg");
    }

  }

}

.favorites-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 260px;
  row-gap: 40px;

  & .favorites-item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 550px;
    height: 555px;
    padding: 15px 20px 13px 20px;

    border: 1px solid var(--color-black);

    & .favorites-item-title {
      position: relative;
      margin-bottom: 20px;

      color: var(--color-black);
      font-family: var(--font-title);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 2px;
      text-transform: capitalize;

      &::after {
        position: absolute;
        display: block;
        width: 60px;
        height: 1px;
        content: "";
        background-color: var(--color-sand);
      }
    }

    & .favorites-item-subtitle {
      color: var(--color-black);
      font-family: var(--font-common);
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 2.4px;
      overflow: hidden;
      white-space: nowrap;
    }

    & .favorites-item-book-name {
      text-transform: uppercase;
    }

    & .favorites-item-book-author {
      text-transform: capitalize;
      padding-bottom: 20px;
    }

    & .favorites-description-poster-wrapper {
      display: flex;
      flex-grow: 1;
      position: relative;

      & .favorites-item-description {
        display: flex;
        flex-direction: column;

        color: var(--color-black);
        font-family: var(--font-common);
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 2.7px;
        text-transform: capitalize;
        padding-right: 145px;

        & p {
          flex-grow: 1;
          flex-basis: 100px;
          overflow: hidden;
        }

        & .favorites-item-button {
          width: 75px;
          height: 30px;

          color: var(--color-dark);
          text-align: center;
          font-family: var(--font-common);
          font-size: 10px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 1px;

          background-color: var(--color-white);
          border-radius: 2px;
          border: 1px solid var(--color-dark);

          &:hover {
            background-color: var(--color-sand);
            border: none;
            cursor: pointer;
          }

        }

        & .favorites-item-button__own {
          color: var(--color-sand);
          border: 1px solid var(--color-sand);

          &:hover {
            background-color: var(--color-white);
            border: 1px solid var(--color-sand);
            cursor: auto;
          }
        }

      }

    }

    & .favoritesitem-poster {
      position: absolute;
      height: 300px;
      right: -40px;
      bottom: 0;

      & img {
        position: relative;
        width: 100%;
        height: 100%;
        bottom: -1px;
      }
    }
  }

}

.shop {
  padding-top: 60px;

  & .shop-subtitle {
    padding-bottom: 40px;

    & h3 {
      color: var(--color-black);
      text-align: center;
      font-family: var(--font-common);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 2.93px;
    }
  }

  & .menu-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

    & .menu {
      width: 438px;

      & .menu-title {
        padding-bottom: 20px;

        color: var(--color-sand);
        font-family: var(--font-title);
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 2px;
        text-transform: capitalize;
      }

      & .align__right {
        text-align: right;
      }

      & .menu-row {
        display: flex;
        position: relative;
        justify-content: space-between;

        color: var(--color-black);
        font-family: var(--font-common);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 80px;
        letter-spacing: 3px;
        text-transform: capitalize;

        & .menu-row-name {
          width: 275px;
          padding-right: 60px;

          &::after {
            position: absolute;
            content: "";
            width: 100px;
            height: 1px;
            top: 50%;
            right: 81px;

            background-color: var(--color-sand);
          }
        }
      }
    }
  }
}

.contacts {
  padding-bottom: 36px;

  & p,
  a {
    color: var(--color-black);
    font-family: var(--font-common);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 3px;
    text-transform: capitalize;
    text-decoration: none;

    padding-bottom: 20px;
  }

  & a:hover {
    text-decoration: underline;
  }

  & .contacts-subtitle-1 {

    padding-bottom: 40px;
  }

  & .contacts-subtitle-2 {
    padding: 20px 0;
  }

  & .contacts-font-bold {
    letter-spacing: 2.65px;
    font-weight: 700;
  }

  & .contacts-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;

  & .cards-find-wrapper {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 453px;
  }

  & .cards-title {
    color: var(--color-black);
    font-family: var(--font-common);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;

    padding-bottom: 30px;
  }

  & .cards-main {
    flex-grow: 1;
    padding: 17px;

    border: 3px solid var(--color-sand);

    & form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  & .cards-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;

    background-color: var(--color-sand);

    & input {
      height: 66px;
      padding: 8px 20px;
      margin-bottom: 25px;

      border: 1px solid var(--color-white);
      border-radius: 10px;

      color: var(--color-grey);
      font-family: var(--font-title);
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.6px;
    }
  }

  & .cards-main-subtitle {
    padding-bottom: 20px;

    color: var(--color-black);
    font-family: var(--font-title);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
  }

  & .button {
    width: 242px;
    height: 44px;
    padding: 7px 20px;

    border: 1px solid var(--color-dark);
    border-radius: 2px;

    color: var(--color-dark);
    text-align: center;
    font-family: var(--font-common);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.7px;
    background-color: var(--color-white);

    &:hover {
      background-color: var(--color-sand);
      border: 1px solid var(--color-sand);
    }
  }
}

.get-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 460px;

  & .get-card-title {
    padding-bottom: 35px;

    color: var(--color-black);
    font-family: var(--font-title);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
  }

  & .get-card-content {
    padding-bottom: 35px;

    color: var(--color-black);
    text-align: right;
    font-family: var(--font-common);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1.35px;
  }

  & .get-card-buttons-wrapper {
    display: flex;
    gap: 20px;


    & .get-card-btn {
      width: 75px;
      height: 30px;

      color: var(--color-dark);
      text-align: center;
      font-family: var(--font-common);
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1px;

      border: 1px solid var(--color-dark);
      border-radius: 2px;
      background-color: var(--color-white);

      &:hover {
        background-color: var(--color-sand);
        border: 1px solid var(--color-sand);
      }
    }
  }
}