.container-controls {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 0 0 8rem;

  padding: 0.5rem;
  gap: 0.5rem;

  color: var(--color-text-controls);
}

.current-time {
  position: relative;
  appearance: none;
  width: 100%;
  height: var(--slider-height);

  margin-bottom: 0.5rem;
  accent-color: var(--color-base-color);
  background: transparent;
  border-radius: 0.5rem;
  border: 1px solid white;
  outline: 1px solid black;
  box-shadow: 0 0 0.5rem var(--color-bg-playlist-active);
  overflow: hidden;
  z-index: 3;

  &::-webkit-slider-thumb {
    position: relative;
    appearance: none;
    height: var(--slider-height);
    width: var(--slider-width);
    background: var(--color-bg-playlist-active);

    background-image: var(--btn-url);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    border-radius: 0.5rem;
    border-left: 1px solid white;
    border-right: 1px solid black;
    cursor: pointer;
    box-shadow: 100vw 0 0 99vw var(--color-bg-ranger-r);
    z-index: 2;
  }

  &+.fill {
    position: absolute;
    width: calc(100% - 1rem);
    height: var(--slider-height);
    border-radius: 0.5rem;
    background: linear-gradient(to right, var(--color-bg-playlist-hover), var(--color-bg-playlist-active));
    animation: anime 6s linear infinite;
    z-index: 1;
  }
}

@keyframes anime {
  0% {
    filter: brightness(1.2) hue-rotate(0deg);
  }

  50% {
    filter: brightness(0.5) hue-rotate(90deg);
  }

  100% {
    filter: brightness(1.2) hue-rotate(0deg);
  }
}

.controls-group-1 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.controls-group-2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.volume {
  display: none;
  accent-color: hsl(var(--color-base-color));
}

.group-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  border: none;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition-duration: 100ms;
  filter: drop-shadow(2px 2px 5px black);

  &:hover {
    cursor: pointer;
    transform: scale3d(1.05, 1.05, 1.05);
    filter: brightness(1.2);
  }
}

.btn-play {
  width: 4rem;
  height: 4rem;

  background-image: var(--btn-url);
  background-color: transparent;
}

.btn-play__played {
  filter: hue-rotate(var(--btn-hue));
}

.btn-backward {
  width: 3rem;
  height: 3rem;

  background: url("../assets/icons/backward.png") center, linear-gradient(135deg, hsl(var(--color-base-color)), var(--color-bg-playlist-active));
  background-size: contain;
}

.btn-forward {
  width: 3rem;
  height: 3rem;

  background: url("../assets/icons/forward.png") center, linear-gradient(135deg, hsl(var(--color-base-color)), var(--color-bg-playlist-active));
  background-size: contain;
}

@media (min-width: 426px) {
  .volume {
    display: inline-block;
  }

  .controls-group-2 {
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .container-controls {
    flex: 0 0 100%;
    height: 8rem;
  }
}