.container-tracks {
  width: 100%;
  min-height: 2rem;
  flex: 1 1 30%;

  color: var(--color-playlist-text);
}

.track {
  & input {
    display: none;

    &:checked+label {
      border: 2px solid var(--color-bg-playlist-hover);
      background-color: var(--color-bg-playlist-active);

      &:hover {
        background-color: var(--color-bg-playlist-hover);
      }
    }
  }

  & label {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    gap: 1rem;

    border-radius: 0.25rem;
    font-size: 1.3rem;
    background-color: var(--color-bg-playlist);

    & span:first-child {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--color-bg-playlist-hover);
    }
  }
}


@media (min-width: 1024px) {
  .container-tracks {
    max-width: 30%;
    height: calc(100% - 9rem);
  }
}